 .horarios-note {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4px;
    gap: 4px; /* Espaço entre os horários */
  }

  .horario-item {
    display: flex;
    gap: 6px;
    color: var(--ion-color-medium);
  }

  .horario-item:first-child {
    font-weight: bold; /* Destaca o horário mais recente */
    color: var(--ion-color-dark);
  }
