ion-item input {
  font-family: var(--ion-font-family, inherit);
  color: var(--ion-text-color, #000);
  font-size: inherit;

  &::placeholder {
    color: var(--ion-placeholder-color, #999);
  }
}

.custom-input-native {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}
.custom-input-date {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 0;
  font-size: 16px;
  width: 100%;
}

ion-accordion {
  margin-bottom: 12px;
  border-radius: 8px;
  background: var(--ion-item-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &::part(content) {
    background: transparent;
  }
}

/* Novo estilo para inputs e selects mais modernos (Outline) */
ion-input,
ion-select,
.custom-input-date,
.custom-input-native {
  --padding-start: 12px;
  border-radius: 8px;
  margin-top: 4px;
}
