<ion-content class="ion-padding">
  <ion-button expand="block" color="primary" (click)="abrirModalUsuario()">
    <ion-icon name="person-add" slot="start"></ion-icon>
    Adicionar Usuário
  </ion-button>

  <ion-card>
    <ion-grid>
      <ion-row class="header-row bordered-row">
        <ion-col class="bordered-col"><strong>Nome</strong></ion-col>
        <ion-col class="bordered-col"><strong>Cargo</strong></ion-col>
        <ion-col class="bordered-col"><strong>Permissões</strong></ion-col>
        <ion-col class="bordered-col"><strong>Ações</strong></ion-col>
      </ion-row>

      <ion-row *ngFor="let user of usuarios" class="bordered-row">
        <ion-col class="bordered-col">{{ user.nome }}</ion-col>
        <ion-col class="bordered-col">{{ user.cargo }}</ion-col>
        <ion-col class="bordered-col">{{ user.permissao }}</ion-col>
        <ion-col class="bordered-col">
          <ion-button
            size="small"
            color="tertiary"
            fill="clear"
            (click)="abrirModalUsuario(user)"
          >
            <ion-icon name="pencil" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button
            size="small"
            color="danger"
            fill="clear"
            (click)="confirmarExclusao(user)"
          >
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<!-- MODAL -->
<ion-modal [isOpen]="mostrarModal" (didDismiss)="fecharModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{
          isCreaterOrEdit ? "Registrar Novo Usuário" : "Editar usuário"
        }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="fecharModal()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-item>
      <ion-text> Campos com * são obrigatórios </ion-text>
    </ion-item>

    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Nome*</ion-label>
        <ion-input [(ngModel)]="usuarioSelecionado.nome" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email*</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="usuarioSelecionado.email"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Telefone*</ion-label>
        <ion-input [(ngModel)]="usuarioSelecionado.telefone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">CPF*</ion-label>
        <ion-input [(ngModel)]="usuarioSelecionado.cpf"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cargo*</ion-label>
        <ion-input [(ngModel)]="usuarioSelecionado.cargo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Permissão*</ion-label>
        <ion-select
          [(ngModel)]="usuarioSelecionado.permissao"
          interface="popover"
        >
          <ion-select-option value="Usuário de campo"
            >Usuário de campo</ion-select-option
          >
          <ion-select-option value="Gerente">Gerente</ion-select-option>
          <ion-select-option value="Diretor">Diretor</ion-select-option>
          <ion-select-option value="Administrador"
            >Administrador</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data de Nascimento</ion-label>
        <ion-datetime
          display-format="DD/MM/YYYY"
          [(ngModel)]="usuarioSelecionado.dataDeNascimento"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data de Admissão</ion-label>
        <ion-datetime
          display-format="DD/MM/YYYY"
          [(ngModel)]="usuarioSelecionado.dataAdmissao"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Está ativo?*</ion-label>
        <ion-toggle [(ngModel)]="usuarioSelecionado.isAtivo"></ion-toggle>
      </ion-item>

      <ion-button expand="full" color="success" (click)="onSaveModal()"
        >Salvar</ion-button
      >
    </ion-content>
  </ng-template>
</ion-modal>
