<ion-content class="ion-padding">
  <form [formGroup]="userForm" (ngSubmit)="salvar()">
    <ion-item>
      <ion-label position="floating">Nome completo</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de nascimento</ion-label>
      <ion-input type="date" formControlName="nascimento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de admissão</ion-label>
      <ion-input type="date" formControlName="admissao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF / Identificação</ion-label>
      <ion-input formControlName="cpf"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="tel" formControlName="telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input formControlName="endereco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cargo</ion-label>
      <ion-input formControlName="cargo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Permissões</ion-label>
      <ion-select formControlName="permissoes" multiple="true">
        <ion-select-option value="admin">Administrador</ion-select-option>
        <ion-select-option value="editor">Editor</ion-select-option>
        <ion-select-option value="leitor">Leitor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      {{ editingIndex !== null ? "Atualizar" : "Salvar" }}
    </ion-button>
  </form>

  <ion-list class="ion-margin-top">
    <ion-item *ngFor="let user of users; let i = index">
      <ion-label>
        <h2>{{ user.nome }}</h2>
        <p>{{ user.email }} - {{ user.cargo }}</p>
      </ion-label>
      <ion-button fill="clear" color="primary" (click)="editar(i)"
        >Editar</ion-button
      >
      <ion-button fill="clear" color="danger" (click)="deletar(i)"
        >Excluir</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>
