<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Histórico de Alterações</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="historico$ | async as historico">
    <ion-list lines="full">
      <ion-item *ngFor="let item of historico">
        <ion-label>
          <h2>{{ item.acao }}</h2>
          <p>Usuário ID: {{ item.usuarioId | slice : 0 : 8 }}...</p>
          <p>{{ item.ultimaAlteracao | date : "dd/MM/yyyy HH:mm:ss" }}</p>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="historico.length === 0" lines="none">
        <ion-label class="ion-text-center"
          >Nenhum registro de histórico encontrado.</ion-label
        >
      </ion-item>
    </ion-list>
  </ng-container>

  <div *ngIf="!(historico$ | async)" class="ion-text-center ion-padding">
    <ion-spinner name="dots"></ion-spinner>
    <p>Carregando histórico...</p>
  </div>
</ion-content>
