<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        required
        [(ngModel)]="loginInfo.email"
        name="email"
        #emailInput="ngModel"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="emailInput.invalid && emailInput.touched">
      Email é obrigatório e deve ser válido.
    </ion-text>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        type="password"
        required
        [(ngModel)]="loginInfo.senha"
        name="password"
        #passwordInput="ngModel"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="passwordInput.invalid && passwordInput.touched"
    >
      Senha é obrigatória.
    </ion-text>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="loginForm.invalid"
      class="ion-margin-top"
    >
      Entrar
    </ion-button>
  </form>
</ion-content>
