<ion-card class="kanban-card" button="true">
  <ion-item lines="none" class="card-header-item">
    <ion-icon
      name="document-text-outline"
      slot="start"
      color="primary"
    ></ion-icon>
    <ion-label>
      <h3 class="protocolo">#{{ ocorrencia().numero }}</h3>
    </ion-label>
    <ion-note slot="end" class="data-nota">
      {{ ocorrencia().dataEHoraDoOcorrido | date : "dd/MM HH:mm" }}
    </ion-note>
  </ion-item>

  <ion-card-content class="ion-no-padding-top">
    <div class="ion-margin-bottom">
      <ion-text color="dark">
        <h2 class="endereco-rua">
          <ion-icon
            name="location-sharp"
            color="danger"
            class="ion-margin-end"
          ></ion-icon>
          {{ getRua(ocorrencia().enderecoResumido) }}
        </h2>
      </ion-text>
      <ion-text color="medium">
        <p class="endereco-bairro ion-padding-start">
          {{ getBairro(ocorrencia().enderecoResumido) }}
        </p>
      </ion-text>
    </div>

    @if (ocorrencia().solicitanteNome) {
    <div class="solicitante-info ion-margin-bottom">
      <ion-note>
        <ion-icon
          name="person-outline"
          style="vertical-align: middle"
        ></ion-icon>
        {{ ocorrencia().solicitanteNome }}
      </ion-note>
    </div>
    }

    <div class="footer-actions">
      <div class="chips-container">
        @for (risco of ocorrencia().tipoDeRisco; track risco) {
        <ion-chip [color]="getRiskColor(risco)" outline="true">
          <ion-label>{{ risco }}</ion-label>
        </ion-chip>
        } @if (!ocorrencia().tipoDeRisco?.length) {
        <ion-chip color="medium" outline="true">
          <ion-label>Em análise</ion-label>
        </ion-chip>
        }
      </div>

      @if (ocorrencia().emailResponsavel) {
      <ion-avatar
        class="user-avatar"
        title="{{ ocorrencia().emailResponsavel }}"
      >
        <span>{{ getIniciais(ocorrencia().emailResponsavel) }}</span>
      </ion-avatar>
      }
    </div>
  </ion-card-content>
</ion-card>
